server:
  port: 8083

spring:
  application:
    name: notification-service
  
  

  datasource:
    url: jdbc:mysql://localhost:3306/notifdb?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    

app:
  event-service-url: http://localhost:8081
  registration-service-url: http://localhost:8082

logging:
  level:
    com.eventmanagementisii.notification: INFO


    

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
