/* confirm-dialog.component.scss */

::ng-deep .mdc-dialog__container {
  backdrop-filter: blur(16px) !important;
  -webkit-backdrop-filter: blur(16px) !important;
}

::ng-deep .mat-mdc-dialog-container {
  //background: rgba(20, 20, 40, 0.85) !important;
  //border-radius: 20px !important;
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
      box-shadow: 0 20px 40px rgb(170 155 155 / 40%) !important;
}

::ng-deep .mat-mdc-dialog-surface {
  background: transparent !important;
  border-radius: 20px !important;
}

::ng-deep .mat-mdc-dialog-title {
  color: white !important;
  font-weight: 700 !important;
  font-size: 24px !important;
}

::ng-deep .mat-mdc-dialog-content {
  color: rgba(255, 255, 255, 0.92) !important;
  white-space: pre-line !important;
  line-height: 1.6 !important;
}

::ng-deep .mat-mdc-dialog-actions {
  gap: 12px !important;
  padding: 16px 24px 20px !important;
  justify-content: center !important;
    display: flex !important;
    align-items: center;
}

/* Optional: make the confirm button red */
::ng-deep button.mat-mdc-raised-button {
 font-weight: 600;
    border-radius: 10px;
    letter-spacing: 0.5px;
    background-color: #d32f2f !important;
}